body {
  font-family: Exo, sans-serif;
}

.recipe-tile-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 25px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  /* border: 1px solid black; */
}

.recipe-tile {
  order: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-basis: calc(25%-10px);
  border-radius: 25px;
  margin-bottom: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

@media screen and (max-width: 1000px) {
  .recipe-tile {
    flex-basis: calc(33.33%-10px);
  }
}

@media screen and (max-width: 768px) {
  .recipe-tile {
    flex-basis: calc(50%-10px);
  }
}

.recipe-tile:hover {
  cursor: pointer;
  box-shadow: 1px 3px 6px 7px #4d7e3e;
}

#recipe-tile-image img {
  width: 100px;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}

#recipe-tile-image {
  width: 250px;
  height: 100%;
  border-radius: 25px;
}

#recipe-tooltip {
  position: absolute;
  z-index: 100;
  font-size: large;
  font-weight: bold;
  pointer-events: none;
}

.recipe-review-likes-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.recipe-review-likes {
  display: flex;
  justify-content: flex-end;
}

#likes {
  padding-left: 5px;
}

.recipe-description {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-content: center;
  /* border: 1px solid black; */
}

.recipe-ingredients-seasoning-containter {
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* border: 3px solid red; */
}
