/* TODO Add site wide styles */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Exo";
  src: url("./font/Exo-Italic-VariableFont_wght.ttf") format("ttf"),
    url("./font/Exo-VariableFont_wght.ttf") format("ttf");
}

body {
  font-family: "Exo", sans-serif;
  background-color: #8abe53;
}
