.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

li {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.home-button {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 50%;
  right: 40px;
}

.navigation-container {
  display: flex;
  justify-content: center;
}

.navigation-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
  padding: 10px;
  margin-bottom: 50px;
  /* border-bottom: 2px solid lightgray; */
  /* border: 1px solid black; */
}

.dropdown-container {
  border: 5px solid black;
}

.user-dropdown {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
  width: 200px;
  /* border: 3px solid blue; */
}

#profile-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px lightgray solid;
  width: 120px;
  height: 120px;
  margin: 10px;
  /* padding: 10px; */
  border-radius: 75px;
  top: 10px;
  opacity: 0.6;
  border: 16px solid black;
}

#profile-button:hover {
  cursor: pointer;
}

.profile-dropdown {
  display: flex;
  justify-content: center;
  border: 5px solid black;
}

#profile-dropdown {
  position: absolute;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 30px;
  box-shadow: 0px 0px 10px #888;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* left: 0px; */
  top: 0px;
  left: 135px;
  width: 250px;
  padding-right: 25px;
  text-align: start;
  background-color: #c6e08d;
}

#profile-dropdown.hidden {
  display: none;
}

.logo-link {
  order: 1;
  display: inline-block;
  width: 125px;
  height: 125px;
  background-size: cover;
  background-position: center;
  /* border: 1px solid red; */
}

.logo-image {
  order: 2;
  position: absolute;
  display: flex;
  /* align-items: center; */
  /* align-self: center; */
  align-content: center;
  width: 105px;
  height: 135px;
  margin-left: 20%;
  /* border: 1px solid white; */
}

.header-text {
  display: flex;
  /* border: 1px solid blue; */
}

.login-button {
  display: flex;
  justify-content: center;
  align-self: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  /* background-color: transparent !important; */
  /* margin-left: 0; */
  /* border: 1px solid black; */
}

.login-button .modal-button {
  width: 150px;
  height: 100px;
  padding: 10px 20px;
  background-color: transparent !important;
}

.signup-button {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  margin-left: 0;
  text-decoration: none;
}

#recipe-button-link {
  text-decoration: none !important;
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 90%;
  font-weight: bold;
  color: #4d7e3e;
  background-color: transparent;
  /* border: 1px solid black; */
}

#firstname {
  /* display: flex;
  justify-content: center; */
  font-weight: bold;
  /* padding: 5px; */
}

#email {
  /* display: flex;
  justify-content: center; */
  font-weight: bold;
  padding: 5px;
}

#manage-recipes {
  /* display: flex; */
  /* justify-content: center; */
  padding: 5px;
  /* padding-right: 20px; */
  width: 100%;
  font-weight: bold;
  color: #4d7e3e;
  /* border-top: 2px solid black; */
  /* border-bottom: 2px solid black; */
  /* border: 1px solid black; */
}
