.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

li {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.home-button {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 50%;
  right: 40px;
}

.navigation-container {
  display: flex;
  justify-content: center;
}

.navigation-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
  padding: 10px;
  margin-bottom: 50px;
  /* border-bottom: 2px solid lightgray; */
  /* border: 1px solid black; */
}

.profile-button {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  /* padding-right: 25px; */
  width: 50%;
  height: 50%;
  /* border: 1px solid green; */
}

#profile-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px lightgray solid;
  width: 175px;
  height: 42px;
  margin: 1px;
  padding: 1px;
  border-radius: 50px;
  opacity: 0.6;
  border: 1px solid black;
}

#profile-button:hover {
  cursor: pointer;
}

#profile-dropdown {
  position: absolute;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #888;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* left: 0px; */
  top: 50px;
  width: 200px;
  text-align: start;
  background-color: #c6e08d;
}

#profile-dropdown.hidden {
  display: none;
}

.logo-link {
  order: 1;
  display: inline-block;
  width: 125px;
  height: 125px;
  background-size: cover;
  background-position: center;
  /* border: 1px solid red; */
}

.logo-image {
  order: 2;
  position: absolute;
  display: flex;
  /* align-items: center; */
  /* align-self: center; */
  align-content: center;
  width: 125px;
  height: 135px;
  margin-left: 20%;
  /* border: 1px solid white; */
}

.header-text {
  display: flex;
  /* border: 1px solid blue; */
}

.login-button {
  display: flex;
  /* justify-content: center; */
  align-self: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  margin-left: 0;
  /* border: 1px solid black; */
}

.login-button .modal-button {
  width: 150px;
  height: 100px;
  padding: 10px 20px;
}

.login-button:hover {
  background-color: #ddd;
}

.login-button:hover > button {
  color: blue;
}

.signup-button {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  margin-left: 0;
  text-decoration: none;
}

.signup-button:hover {
  background-color: #ddd;
}

#create-recipe-button {
  display: flex;
  align-self: center;
  border: 0;
  width: 170px;
  color: blue;
  text-decoration: none !important;
  /* border: 1px solid red; */
}

#recipe-button-link {
  display: flex;
  align-self: center;
  border: 0;
  width: 170px;
  color: #4d7e3e;
  text-decoration: none !important;
}

#firstname {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding: 5px;
}

#email {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding: 5px;
}

#manage-recipes {
  display: flex;
  justify-content: center;
  padding: 5px;
  padding-right: 20px;
  width: 80%;
  font-weight: bold;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
