body {
  font-family: Exo, sans-serif;
}

.recipe-tile-container {
  perspective: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 25px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  /* border: 1px solid black; */
}

.recipe-tile {
  order: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-basis: calc(25%-10px);
  border-radius: 50%;
  margin-bottom: 25px;
  margin-left: 5px;
  margin-right: 5px;
  animation: scaleIn 0.5s ease forwards;
  animation-delay: calc(var(--card-index) * 0.2s);
  opacity: 0;
}

.recipe-tile:hover #recipe-tile-image {
  cursor: pointer;
  border-radius: 25px;
  transform: scale(1);
  /* transition: ease-in-out border-radius 0.5s; */
  box-shadow: 1px 0px 3px 5px #4d7e3e;
}

.recipe-tile #recipe-tile-image {
  width: 250px;
  height: 100%;
  border-radius: 50%;
  transition: ease-in-out border-radius 0.5s, transform 0.5s ease-in-out;
  transform: scale(0.5);
}

.recipe-tile:hover .recipe-review-likes-container #recipe-name {
  opacity: 1;
}

/* .recipe-tile:hover #recipe-name {
  opacity: 1;
} */

.recipe-buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 5px;
  /* border: 3px solid orange; */
}

div.update-button button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff !important;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  width: 130px;
  transition: background-color 0.3s ease;
  opacity: 0.75;
}

div.delete-button button {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(245, 40, 40, 0.722) !important;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  width: 130px;
  transition: background-color 0.3s ease;
}
